/* individual dice */
.die {
  border-radius: 8px;
  border: 1px solid black;
  padding: 0.6rem 1.2rem;
  font-size: 1rem;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
  min-width: 80px;
  min-height: 80px;
  cursor: pointer;
  transition: border-color 0.15s, transform 0.15s;
  width: 4.5rem;
  height: 4.5rem;
}

.die:hover {
  border-width: 2px;
  color: black;
}

.die:active {
  transform: rotate(4deg);
}

/* white dice */
.white {
  background-color: #ececec;
}
/* black dice */
.black {
  background-color: #3f3f3f;
  color: #ececec;
  opacity: 0.5;
}

/* roll all button */
.roll-all {
  background-color: #ececec;
}

.roll-all:hover {
  border-width: 2px;
  color: black;
  transition: transform 0.15s;
}

/* space for dice */
.dice-space {
  display: flex;
  flex-wrap: wrap;
  row-gap: 1rem;
  justify-content: center;
}

/* dice tray */
.dice-tray {
  border-radius: 8px;
  border: 3px solid rgb(58, 58, 58);
  font-size: 1.25rem;
  font-weight: 700;
  font-family: inherit;
  padding: 1.2rem 1.2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 26rem;
  min-height: 18rem;
}

.dice-tray > * {
  margin: 20px 20px;
}
.dice-tray > * > * {
  margin: 0px 20px;
}

.dice-tray .roll-all:active {
  transform: translateY(0.1rem);
}

.dice-tray:has(.roll-all:active) .die {
  transform: rotate(4deg);
}
