.card-wrapper {
  align-items: center;
  background-color: white;
  border-radius: 1rem;
  border: 1px solid black;
  display: flex;
  justify-content: center;
  padding: 1rem;
  height: var(--card-height);
  width: var(--card-width);
  line-height: 1.1rem;
  font-size: 0.95rem;

  .card-inner-border {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
    border: 1px solid black;
    border-radius: 1rem;
    overflow: hidden;

    .card-number {
      display: flex;
      justify-content: center;
      align-items: center;
      margin-left: calc((100% - 55%) / 4);
      margin-bottom: 0.75rem;
      line-height: 1.2rem;

      p {
        width: fit-content;
        text-align: center;
        border-top: 1px solid rgb(255, 255, 255);
        margin-top: -1px;
        border-inline: 1px solid black;
        border-bottom: 1px solid black;
        border-radius: 0px 0px 0.25rem 0.25rem;
        padding-inline: 1rem;
      }
    }

    .card-info {
      border: 1 solid black;
      display: flex;
      height: 100%;
      width: 100%;
      justify-content: center;
      align-items: center;

      .card-half {
        display: flex;
        flex-direction: column;
        align-items: stretch;
        height: 100%;
        border-top: 1px solid black;

        [data-banner-color="black"] {
          background-color: black;
          color: rgb(255, 255, 255);

          &[data-banner-lighter="true"] {
            background-color: rgb(156, 153, 143);
          }
        }

        [data-banner-color="red"] {
          background-color: rgb(112, 28, 28);
          color: rgb(255, 255, 255);
        }

        [data-banner-color="yellow"] {
          background-color: rgb(197, 170, 79);
          &[data-banner-lighter="true"] {
            background-color: rgb(219, 194, 113);
          }
        }

        [data-banner-color="purple"] {
          background-color: rgb(158, 119, 158);
          &[data-banner-lighter="true"] {
            background-color: rgb(179, 149, 179);
          }
        }

        [data-banner-color="green"] {
          background-color: rgb(117, 151, 117);
          &[data-banner-lighter="true"] {
            background-color: rgb(150, 184, 150);
          }
        }
      }
    }

    .card-half-left {
      width: 55%;

      .card-flavor-text {
        color: rgb(82, 9, 9);
        font-style: italic;
      }
    }

    .card-half-right {
      width: 45%;
      border-left: 1px solid black;
    }

    * > .card-banner {
      height: 2.25rem;
      display: flex;
      align-items: center;
      justify-content: center;
      font-size: 1rem;
      height: 3rem;
      text-align: center;
      color: var(--soft-black);

      .card-title {
        font-size: 1.35rem;
      }
    }

    * > .card-content {
      flex-grow: 1;
      padding: 1.25rem;
    }
  }

  &.card-back {
    cursor: pointer;
  }
}

.draw-card-wrapper {
  background-color: transparent;
  height: var(--card-height);
  width: var(--card-width);
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem;

  .card-wrapper {
    position: absolute;
    left: -1rem;
    top: -1rem;
  }

  .card-inner-border {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
    border: 1px solid black;
    border-radius: 1rem;
    overflow: hidden;
  }

  .draw-card-sides {
    position: relative;
    height: 100%;
    width: 100%;
    display: flex;
    transform-style: preserve-3d;
    transition: transform 0.25s;

    &.flipped {
      transform: rotateY(180deg);
    }

    .draw-card-sides-front,
    .draw-card-sides-back {
      position: absolute;
      height: var(--card-height);
      width: var(--card-width);
      backface-visibility: hidden;
      -webkit-backface-visibility: hidden;
    }

    .draw-card-sides-front {
      transform: rotateY(180deg);
    }
  }
}
