.actions-select,
.move-select {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  gap: 4rem;

  .actions-select-side-pane,
  .move-select-side-pane {
    width: 24rem;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;

    .actions-select-option-list {
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 1rem;
      padding: 1rem;

      .action-select-option-list-grid {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 1rem;
        width: 16rem;
      }
    }
  }

  .move-select-side-pane {
    gap: 2rem;
  }
}

.test-table {
  border-collapse: collapse;
  background-color: rgb(235, 235, 235);

  th {
    height: 1rem;
  }

  td {
    height: 2rem;
    vertical-align: top;
  }

  th,
  td {
    border: 1px solid var(--soft-black);
    padding-inline: 0.25rem;
    padding-block: 0.5rem;
    width: 14rem;

    .result-title {
      font-weight: 600;
      font-size: 1.25rem;
      text-align: center;
    }

    .result-info {
      text-align: left;
      padding-inline: 0.5rem;
    }

    &.selected {
      background-color: rgb(255, 255, 255);
    }
  }

  .test-header {
    padding-inline: 2rem;
    height: auto;
    background-color: rgb(255, 255, 255);

    .test {
      display: flex;
      justify-content: space-between;
      flex-direction: row;
    }

    ul {
      padding-inline: 1.25rem;
    }

    .test-roll-display {
      font-size: 3rem;
    }
  }

  .result-numbers {
    th {
      font-size: 1.5rem;
    }
  }
}
