.ocean-board {
  position: relative;
  background-color: var(--overlay-bar-color);
  min-width: 76rem;
  width: 63%;
  min-height: 40rem;
  height: 90%;
  border-radius: 0.25rem;
  overflow: hidden;
  font-size: 1rem;

  .ocean-space-container {
    --padding: 1rem;
    display: grid;
    height: 100%;
    justify-content: center;
    align-items: start;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    padding: 1rem;
    column-gap: 1rem;
    row-gap: 1rem;

    .ocean-space {
      --padding: 0.25rem;
      width: calc(100% - (var(--padding) * 2));
      height: fit-content;
      background-color: var(--playarea-color);
      text-align: center;
      display: flex;
      flex-direction: column;
      gap: 0.25rem;
      padding: var(--padding);
      border-radius: 0.25rem;

      .ocean-nautilus {
        height: 1.5rem;
        font-weight: 900;
      }

      .ship-space {
        border: 2px dotted gray;
        border-radius: 0.25rem;
        height: 4rem;
        display: flex;
        justify-content: center;
        align-items: center;
      }

      &[data-selected="this"] {
        background-color: rgb(195, 221, 221);
      }

      &[data-selected="this-hoverable"] {
        background-color: rgb(195, 221, 221);

        &:hover {
          cursor: pointer;
        }
      }

      &[data-selected="adjacent"] {
        background-color: rgb(211, 221, 195);

        &:hover {
          cursor: pointer;
        }
      }
    }
  }
}
