.placement-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  gap: 4rem;

  .placement-roll {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 2rem;

    .placement-roll-title {
    }

    .placement-roll-differential {
      height: 1;
      text-align: center;
      width: 6.25rem;
      display: flex;
      justify-content: space-between;
    }
  }

  .placement-side-pane {
    width: 24rem;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;

    .dice-to-place-dice-wrapper {
      display: flex;
      gap: 2rem;

      .dice-to-place-die {
        cursor: pointer;
        transition: transform 0.15s;

        &:hover {
          transform: scale(1.05);
        }

        &:active {
          transform: scale(1);
        }
      }
    }
  }
}
