.game-screen-wrapper {
  position: relative;
  width: 100%;
  height: 100%;

  .overlay-bar {
    background-color: var(--overlay-bar-color);
    width: 100%;
    display: flex;
    justify-content: stretch;
    align-items: stretch;
    z-index: 10;

    &.overlay-bar-top {
      height: var(--overlay-bar-top-height);

      .overlay-bar-content-wrapper {
        justify-content: center;
        align-items: center;
      }
    }

    &.overlay-bar-bottom {
      bottom: 0%;
      height: var(--overlay-bar-bottom-height);

      .overlay-bar-content-wrapper {
        justify-content: space-evenly;
      }
    }

    /* content wrappers */
    .overlay-bar-content-wrapper {
      display: flex;
      padding: 1rem;
      flex: 1 1 auto;
      color: white;
      flex-direction: column;
    }
  }
}

.playarea {
  height: calc(100% - var(--overlay-bar-bottom-height));
  z-index: 1;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8rem;

  .next-phase-wrapper {
    position: absolute;
    bottom: calc(var(--overlay-bar-bottom-height) + 1rem);
    right: 0%;
    background-color: var(--overlay-bar-color);
    padding-block: 1rem;
    padding-inline: 2rem;
    width: 12rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 0.5rem 0 0 0.5rem;

    .next-phase-button {
      width: 100%;
    }
  }
}
