.card {
  background-color: white;
  padding: 4em;
  width: 40rem;
  height: 25rem;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 1px solid black;
  border-radius: 1em;
}
