/* setup screens */
.motive-screen-wrapper,
.upgrade-screen-wrapper {
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  height: 100%;
  justify-content: center;
  text-align: center;
}

.phase-description {
  max-width: 52ch;
}

.tile {
  align-items: center;
  justify-content: center;
  background-color: white;
  border-radius: 6px;
  border: 1px solid var(--soft-black);
  display: flex;
  flex-direction: column;
  gap: 0.75rem;
  height: 25rem;
  padding: 1rem 2rem;
  width: 26rem;
}
.tile-name {
  font-size: 1.75rem;
}

.tile-info {
  display: flex;
  align-items: center;
  gap: 2rem;
}

.loader {
  width: 0.25rem;
  aspect-ratio: 1;
  border-radius: 50%;
  background: rgb(58, 58, 58);
  animation: dots 1.5s infinite linear;
}
@keyframes dots {
  0% {
    box-shadow: -0.5rem 0 rgb(58, 58, 58, 0), 0.5rem 0 rgb(58, 58, 58, 0);
    background: rgb(58, 58, 58, 0);
  }
  25% {
    box-shadow: -0.5rem 0 rgb(58, 58, 58, 1), 0.5rem 0 rgb(58, 58, 58, 0);
    background: rgb(58, 58, 58, 0);
  }
  50% {
    box-shadow: -0.5rem 0 rgb(58, 58, 58, 0), 0.5rem 0 rgb(58, 58, 58, 0);
    background: rgb(58, 58, 58, 1);
  }
  75% {
    box-shadow: -0.5rem 0 rgb(58, 58, 58, 0), 0.5rem 0 rgb(58, 58, 58, 1);
    background: rgb(58, 58, 58, 0);
  }
  100% {
    box-shadow: -0.5rem 0 rgb(58, 58, 58, 0), 0.5rem 0 rgb(58, 58, 58, 0);
    background: rgb(58, 58, 58, 0);
  }
}

/* motive screen */
.motive-multiplier {
  max-width: 70ch;
  font-size: 0.85rem;
}

.motive-advice {
  flex-grow: 1;
  display: flex;
  align-items: center;
  max-width: 34ch;
}

.button-wrapper {
  display: flex;
  gap: 2rem;
  align-items: center;
  justify-content: center;
}

.motive-confirm {
  height: 4rem;
  width: 15rem;
}

/* draw pile and adventure deck */
.loading-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 18ch;
  gap: 2rem;
}

/* upgrade screen */
.upgrade-screen-resources {
  display: flex;
  gap: 2rem;
  margin-bottom: 1rem;

  * {
    display: flex;
    flex-direction: column;

    .resource-buttons {
      display: flex;
      flex-direction: row;
      gap: 0.5rem;
    }
  }

  button {
    width: 2rem;
    height: 2rem;
    padding: 0.25rem;
  }
}

/* done screen */
.done-screen-wrapper {
  align-items: center;
  display: flex;
  flex-direction: column;
  height: 100%;
  gap: 1rem;
  justify-content: center;
  text-align: center;

  .done-screen-upgrade-text {
    font-size: 1.5rem;
    font-weight: 600;
  }
}

.decks {
  display: flex;
  gap: 2rem;
  padding: 2rem;
  background-color: rgba(0, 0, 0, 0.527);
  color: white;
  border-radius: 6px;
}

.decks > * {
  display: flex;
  flex-direction: column;
}

.list-wrapper {
  border-radius: 6px;
  border: 1 white solid;
  overflow: hidden;
}

.card-list {
  color: var(--soft-black);
  background-color: white;
  font-size: medium;
  height: 14rem;
  list-style-type: none;
  margin: 0;
  overflow-y: scroll;
  padding: 1rem 2rem 1rem 1rem;
  text-align: start;
}

.resources {
  display: flex;
  gap: 1rem;
}
