#root {
  /* variables */
  --soft-black: rgb(65, 65, 65);
  --overlay-bar-top-height: 4%;
  --overlay-bar-bottom-height: 24%;
  --overlay-bar-color: var(--soft-black);
  --playarea-color: #dddbd7;
  --card-height: 25rem;
  --card-width: 36rem;

  align-items: center;
  background-color: var(--playarea-color);
  color: var(--soft-black);
  display: flex;
  flex-basis: 100%;
  justify-content: center;
  text-wrap: pretty;
}

div,
h1,
h2,
p,
section {
  margin: 0;
  padding: 0;
}

button {
  border-radius: 6px;
  border: 1px solid var(--soft-black);
  color: var(--soft-black);
  cursor: pointer;
  font-family: inherit;
  font-size: 1rem;
  font-weight: 500;
  min-height: fit-content;
  min-width: fit-content;
  padding: 1rem 1rem;
  transition: transform 0.15s;
}
button:active {
  transform: translateY(0.1rem);
}

/* utility classes */
.bold {
  font-weight: bold;
}
