#root {
  /* variables */
  --soft-black: rgb(58, 58, 58);

  align-items: center;
  background-color: #dddbd7;
  color: var(--soft-black);
  display: flex;
  flex-basis: 100%;
  justify-content: center;
  padding: 2rem;
  text-align: center;
  text-wrap: pretty;
}

div,
h1,
h2,
p,
section {
  margin: 0;
  padding: 0;
}

button {
  border-radius: 6px;
  border: 1px solid var(--soft-black);
  color: var(--soft-black);
  cursor: pointer;
  font-family: inherit;
  font-size: 1rem;
  font-weight: 500;
  min-height: fit-content;
  min-width: fit-content;
  padding: 1rem 1rem;
  transition: transform 0.15s;
}
button:active {
  transform: translateY(0.1em);
}

/* utility classes */
.bold {
  font-weight: bold;
}
