#root {
  /* variables */
  --soft-black: rgb(65, 65, 65);
  --overlay-bar-top-height: 4%;
  --overlay-bar-bottom-height: 20%;
  --overlay-bar-color: var(--soft-black);
  --playarea-color: #dddbd7;
  --dark-red: #a52323;
  --dark-green: #2b692b;
  --card-height: 25rem;
  --card-width: 36rem;
  --nemo-purple: #5b1f61;
  --crew-brown: #63480d;
  --hull-blue: #2b5dc9;
  --ship-group-A-color: #ffffff;
  --ship-group-B-color: #f1e46b;
  --ship-group-B-text: #8b2626;
  --ship-group-C-color: #ffc72c;
  --ship-group-C-text: #8f1212;
  --ship-group-D-color: #3657c4;
  --ship-group-E-color: #2d7224;
  --ship-group-F-color: #db591d;
  --ship-group-G-color: #d11616;
  --ship-group-H-color: var(--soft-black);
  --ship-group-I-color: #4c1b68;
  --ship-group-J-color: #90948e;
  --highlight-color: #d3ddc3;
  --highlight-color-dark: #abc781;

  align-items: center;
  background-color: var(--playarea-color);
  color: var(--soft-black);
  display: flex;
  flex-basis: 100%;
  justify-content: center;
  text-wrap: pretty;
}

div,
h1,
h2,
p,
section {
  margin: 0;
  padding: 0;
}

button {
  border-radius: 6px;
  border: 1px solid var(--soft-black);
  color: var(--soft-black);
  cursor: pointer;
  font-family: inherit;
  font-size: 1rem;
  font-weight: 500;
  min-height: fit-content;
  min-width: fit-content;
  padding: 1rem 1rem;
  transition: transform 0.15s;

  &:hover {
    transform: scale(1.05);
  }

  &:active {
    transform: translateY(0.1rem);
  }

  &.disabled {
    background-color: #aaaaaa;
    color: #666666;
    cursor: default;
    border-color: #aaaaaa;

    &:not(disabled) {
      transform: translateY(0rem);
    }
  }
}

/* utility classes */
.bold {
  font-weight: 900;
}

.underline {
  text-decoration: underline;
}

.text-red {
  color: var(--dark-red);
}

.text-green {
  color: var(--dark-green);
}

.nemo-text,
.crew-text,
.hull-text {
  font-weight: bolder;
}
.nemo-text {
  color: var(--nemo-purple);
}
.crew-text {
  color: var(--crew-brown);
}
.hull-text {
  color: var(--hull-blue);
}

/* animations */
@keyframes pulse {
  from {
    transform: scale(1);
  }
  to {
    transform: scale(0.95);
  }
}
